.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    margin: 0px auto;
    padding: 0px;
}

/* shared style */

.section-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
   
}

.section-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center; 
    opacity: 0.7;

}

.info-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 16px;

}
.info-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 32px;

}

.info-button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

/* banner styles */

.banner_container{
    height: 612px;
    background-image: url(../assets/Hero-bg.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 938px;
    text-align: center;
}

.banner_title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin-bottom: 24px;
}

.btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 21px 24px 21px 24px;
    cursor: pointer;
    border: none;
    margin-top: 32px;
}

/* why section style */

.why-section-contain{
    width: 946px;
    margin-top: 154px;

}



.info{
    display: flex;
    justify-content: space-between;
    margin-top: 96px;

}

.first-info, .sec-info{
   max-width: 477px; 
 
}
.info-image, .info_sec .info-image {
    width: 260px;  
}

.info_sec{
    display: flex;
    justify-content: space-between;
    margin: 128px 0px;
}

.info_third{
    display: flex;
    justify-content: space-between;
    margin-bottom: 216px;
}

/* inspiration section style */
.inspirational-content{
    width: 1071px;
}
.video-container{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 151px;
    margin-top: 48px;
}
.video-container .video{
    width: 1010px;
    height: 614px;  
}


/* target section style */
.target-contains{
    width: 1071px;
    
}

.card{
   
    margin-top: 48px;
    display: flex;
    gap: 24px;
}
.card-contains{

    width: 284px;
    padding: 40px;
}
.card-contains-html-bg{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05); 
}
.card-contains-css-bg{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.card-contains-js-bg{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);

}

.card-contains img{
    margin-bottom: 24px;
}

.card-contains h4{
    margin-bottom: 8px;
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}
.card-contains .card-title{
    color: rgb(13, 19, 33);
     font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 24px;
}

.card-contains p a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;
} 

/* support section style */
.support-bg{

  width: 1071px;
  background-image: url(../assets/handshake.jpg);
  background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 16px;
    background:rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
}

.support-contains{
    
    padding: 64px 48px;
}

.support-contains .need-sup{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;

}
.cont-descrip{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
form{
    text-align: center;
    
}

input[type=text]{
    width: 548px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
}

.sub-btn{
    width: 120px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 13px 20px 16px 20px;
    border: none;
    cursor: pointer;
}

/* footer style */
.footer_content{
    width: 1071px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    padding: 32px 150px 32px 150px;
 }

 .footer_content p {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 456px;
margin: 0px;

 }
.icons{
    
    margin: 0px;
}
 .icons a {
  margin-left: 24px;
 }